[submodule "raw-samples"]
	path = raw-samples
	url = https://github.com/f-spot/raw-samples.git
[submodule "packages/libraw.wasm/LibRaw"]
	path = packages/libraw.wasm/LibRaw
	url = https://github.com/LibRaw/LibRaw
